<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.meeting.mapper.TopicInfoMapper">
    
    <resultMap type="com.ruoyi.meeting.domain.TopicInfo" id="TopicInfoResult">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="topicType" column="topic_type"/>
        <result property="topicStatus" column="topic_status"/>
        <result property="reportPeople" column="report_people"/>
        <result property="reportUnit" column="report_unit"/>
        <result property="fileInfo" column="file_info"/>
        <result property="attachmentInfo" column="attachment_info"/>
        <result property="extInfo" column="ext_info"/>
        <result property="orderNo" column="order_no"/>
        <result property="deleted" column="deleted"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectTopicInfoVo">
        select id, title, topic_type, topic_status, report_people, report_unit, file_info, attachment_info, ext_info, order_no, deleted, create_by, create_time, update_by, update_time, remark from bus_topic_info
    </sql>

    <select id="selectTopicInfoList" parameterType="com.ruoyi.meeting.domain.TopicInfo" resultMap="TopicInfoResult">
        <include refid="selectTopicInfoVo"/>
        <where>
            deleted = 0
            <if test="title != null  and title != ''"> and title like concat('%', #{title}, '%')</if>
            <if test="topicStatus != null  and topicStatus != ''"> and topic_status = #{topicStatus}</if>
            <if test="createBy != null and createBy != ''"> and create_by = #{createBy}</if>
        </where>
        order by order_no, update_time desc
    </select>

</mapper>