<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('设备信息列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label style="width: 85px;">设备序列号：</label>
                                <input type="text" name="deviceSerial"/>
                            </li>
                            <li>
                                <label style="width: 85px;">设备名称：</label>
                                <input type="text" name="deviceName"/>
                            </li>
                            <li>
                                <label style="width: 85px;">状态：</label>
                                <select name="deviceStatus" th:with="type=${@dict.getType('bus_meeting_device_status')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="meeting:deviceInfo:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <!-- <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="meeting:deviceInfo:edit"> -->
                <!--     <i class="fa fa-edit"></i> 修改 -->
                <!-- </a> -->
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="meeting:deviceInfo:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-info" onclick="checkConnection()">
                    <i class="fa fa-plug"></i> 检测连接
                </a>
                <a class="btn btn-warning" onclick="showIpPrefixConfig()">
                    <i class="fa fa-cog"></i> IP前缀配置
                </a>
                <!-- <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="meeting:deviceInfo:export"> -->
                <!--     <i class="fa fa-download"></i> 导出 -->
                <!-- </a> -->
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>

    <!-- IP前缀配置模态框 -->
    <div class="modal fade" id="ipPrefixModal" tabindex="-1" role="dialog" aria-labelledby="ipPrefixModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="ipPrefixModalLabel">IP前缀配置</h4>
                </div>
                <div class="modal-body">
                    <form id="ipPrefixForm">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-2">
                                    <input type="number" class="form-control" id="ip1" name="ip1" min="0" max="255" placeholder="192">
                                </div>
                                <div class="col-sm-1 text-center" style="padding-top: 7px;">.</div>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control" id="ip2" name="ip2" min="0" max="255" placeholder="168">
                                </div>
                                <div class="col-sm-1 text-center" style="padding-top: 7px;">.</div>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control" id="ip3" name="ip3" min="0" max="255" placeholder="1">
                                </div>
                                <div class="col-sm-1 text-center" style="padding-top: 7px;">.</div>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control" id="ip4" name="ip4" min="0" max="255" placeholder="" disabled>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" onclick="saveIpPrefix()">保存</button>
                </div>
            </div>
        </div>
    </div>

    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('meeting:deviceInfo:edit')}]];
        var removeFlag = [[${@permission.hasPermi('meeting:deviceInfo:remove')}]];
        var deviceStatusDatas = [[${@dict.getType('bus_meeting_device_status')}]];
        var prefix = ctx + "meeting/deviceInfo";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "设备信息",
                showToggle: false,
                showExport: false,
                showColumns: false,
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: 'id',
                    visible: false
                },
                {
                    field: 'deviceSerial',
                    title: '设备序列号'
                },
                {
                    field: 'deviceName',
                    title: '设备名称'
                },
                {
                    field: 'deviceIp',
                    title: 'IP'
                },
                {
                    field: 'devicePort',
                    title: '端口'
                },
                {
                    field: 'deviceStatus',
                    title: '状态',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(deviceStatusDatas, value);
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-info btn-xs" href="javascript:void(0)" onclick="checkConnection(\'' + row.id + '\')"><i class="fa fa-plug"></i>检测连接</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });

        function checkConnection(deviceId) {
            $.modal.loading("正在检测连接，请稍候...");
            
            var requestData = {};
            if (deviceId) {
                requestData.deviceId = deviceId;
            }
            
            $.ajax({
                url: prefix + "/checkConnection",
                type: "post",
                dataType: "json",
                data: requestData,
                success: function(result) {
                    $.modal.closeLoading();
                    if (result.code == web_status.SUCCESS) {
                        $.modal.msgSuccess(result.msg);
                        $("#bootstrap-table").bootstrapTable('refresh');
                    } else {
                        $.modal.msgError(result.msg);
                    }
                },
                error: function() {
                    $.modal.closeLoading();
                    $.modal.msgError("检测连接失败");
                }
            });
        }

        // 显示IP前缀配置模态框
        function showIpPrefixConfig() {
            // 先获取当前的IP前缀配置
            $.ajax({
                url: prefix + "/commonIp",
                type: "post",
                dataType: "json",
                success: function(result) {
                    if (result.code == web_status.SUCCESS && result.data && result.data.length >= 3) {
                        $("#ip1").val(result.data[0] || '');
                        $("#ip2").val(result.data[1] || '');
                        $("#ip3").val(result.data[2] || '');
                    }
                    $("#ipPrefixModal").modal('show');
                },
                error: function() {
                    $.modal.msgError("获取IP前缀配置失败");
                }
            });
        }

        // 保存IP前缀配置
        function saveIpPrefix() {
            var ip1 = $("#ip1").val();
            var ip2 = $("#ip2").val();
            var ip3 = $("#ip3").val();

            // 验证输入
            if (!ip1 || !ip2 || !ip3) {
                $.modal.msgError("请填写完整的IP前缀");
                return;
            }

            if (ip1 < 0 || ip1 > 255 || ip2 < 0 || ip2 > 255 || ip3 < 0 || ip3 > 255) {
                $.modal.msgError("IP地址段必须在0-255之间");
                return;
            }

            $.modal.loading("正在保存配置，请稍候...");
            
            $.ajax({
                url: prefix + "/updateCommonIp",
                type: "post",
                dataType: "json",
                data: {
                    ip1: ip1,
                    ip2: ip2,
                    ip3: ip3
                },
                success: function(result) {
                    $.modal.closeLoading();
                    if (result.code == web_status.SUCCESS) {
                        $.modal.msgSuccess("IP前缀配置保存成功");
                        $("#ipPrefixModal").modal('hide');
                        $("#bootstrap-table").bootstrapTable('refresh');
                    } else {
                        $.modal.msgError(result.msg || "保存失败");
                    }
                },
                error: function() {
                    $.modal.closeLoading();
                    $.modal.msgError("保存IP前缀配置失败");
                }
            });
        }
    </script>
</body>
</html>