<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('选择议题')" />
    <style>
    </style>
</head>
<body class="gray-bg">
    <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>标题：</label>
                                <input type="text" name="title"/>
                            </li>
                            <li>
                                <label>汇报人：</label>
                                <input type="text" name="reportPeople"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
            

        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "meeting/topicInfo";
        var selectedTopics = []; // 存储选中的议题

        $(function() {
            var options = {
                url: prefix + "/list",
                modalName: "议题",
                showToggle: false,
                showExport: false,
                showColumns: false,
                clickToSelect: true,
                queryParams: function(params) {
                    var searchParams = $.table.queryParams(params);
                    // 只查询已通过审核的议题
                    searchParams.topicStatus = 'approved';
                    return searchParams;
                },
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: 'id',
                    visible: false
                },
                {
                    field: 'title',
                    title: '标题'
                },
                {
                    field: 'orderNo',
                    title: '序号',
                    align: 'center'
                },
                {
                    field: 'reportPeople',
                    title: '汇报人',
                    align: 'center'
                },
                {
                    field: 'reportUnit',
                    title: '汇报单位',
                    align: 'center'
                },
                {
                    field: 'createBy',
                    title: '创建人',
                    align: 'center'
                },
                {
                    field: 'createTime',
                    title: '创建时间',
                    align: 'center'
                }],
                onCheck: function(row) {
                    // 添加到选中列表
                    var exists = selectedTopics.find(function(topic) { return topic.id === row.id; });
                    if (!exists) {
                        selectedTopics.push({
                            id: row.id,
                            title: row.title,
                            reportPeople: row.reportPeople,
                            reportUnit: row.reportUnit
                        });
                    }
                },
                onUncheck: function(row) {
                    // 从选中列表移除
                    selectedTopics = selectedTopics.filter(function(topic) { return topic.id !== row.id; });
                },
                onCheckAll: function(rows) {
                    // 全选
                    rows.forEach(function(row) {
                        var exists = selectedTopics.find(function(topic) { return topic.id === row.id; });
                        if (!exists) {
                            selectedTopics.push({
                                id: row.id,
                                title: row.title,
                                reportPeople: row.reportPeople,
                                reportUnit: row.reportUnit
                            });
                        }
                    });
                },
                onUncheckAll: function(rows) {
                    // 取消全选
                    rows.forEach(function(row) {
                        selectedTopics = selectedTopics.filter(function(topic) { return topic.id !== row.id; });
                    });
                }
            };
            $.table.init(options);
        });

        // 供父页面调用的方法，获取选中的议题
        function getSelectedTopics() {
            return selectedTopics;
        }
    </script>
</body>
</html>